extends layout

block content
  h1 Title: #{item.name}

  p #[strong Group:]
    a(href=item.group.url) #{item.group.name}
  p #[strong Details:] #{item.details}
  hr
  
  p
    a(href=item.url+'/update') Update Item
  p
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=item._id )

      button.btn.btn-primary(type='submit') Delete